$image-path: '/public/images/';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; // 仅禁用横向滚动

  background-image: url('#{$image-path}mobile2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media(min-width: 768px) {
    background-image: url('#{$image-path}pc1.jpg');
  }

}


// 居中容器
.container {
  display: flex;
  justify-content: center; // 水平居中
  align-items: center; // 垂直居中
  min-height: 100vh; // 最小高度为视口高度

}

// 内容样式
.content {
  display: flex; /* 设置为 Flex 容器 */
  flex-direction: column; /* 垂直排列子元素 */
  justify-content: center; /* 垂直居中（在垂直方向上） */
  align-items: center; /* 水平居中 */

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px; /* 圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* 阴影效果 */

  height: 150px; /* 固定高度，可根据需要调整 */
  width: 65%; /* 宽度为父容器的65% */

  @media (min-width: 768px) {
    height: 200px; /* 固定高度，可根据需要调整 */
    h1 {
      font-size: 100px;
    }
    p {
      font-size: 30px;
    }
  }

}

// 底部导航栏
.footer {
  position: fixed; // 固定在底部
  bottom: 0;
  left: 0;
  right: 0;

  color: #000000; // 字体颜色
  text-align: center; // 文本居中

  a, img {
    text-decoration: none; // 去除下划线
    color: #000000;
  }

  @media (max-width: 768px) {
    a, img {
      display: none;
    }
  }


}


.gradient {
  font-size: 45px;
  // 定义渐变背景
  $gradient: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  // 设置文本颜色为透明，以便显示背景渐变
  color: transparent;
  // 将背景渐变应用到文本
  background-image: $gradient;
  // 使用 -webkit-background-clip 属性将背景剪裁到文本
  -webkit-background-clip: text;
  // 兼容性：为不支持 -webkit-background-clip 的浏览器设置一个回退颜色
  // 这里我们使用渐变的起始颜色作为回退颜色
  background-color: #94c8ec;
  // 添加白色描边
  -webkit-text-stroke: 0.6px #df2929;
}
